body {
    background-color:#edc7b7;
    /* Move down content because we have a fixed navbar that is 3.5rem tall */
    padding-top: 3.5rem;

}
h1 {
    color:#ac3b61;
    text-align: center;
    font-family: cursive;
    padding: 20px; 
    text-shadow: 2px 2px 5px #bab2b5;
}
h2 {
    color:#ac3b61;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px #bab2b5;
}
p {
    color:#123c69;
    text-align: center;
    font-family: sans-serif;
}
.btn {
    background-color: gray;
}
.column {
    float: left;
    width: 33%;
    box-shadow: 10px 10px 5px #bab2b5;
    text-align: center;
    background-color: #eee2dc;
    margin: 2px;
}

.row:after {
    content: "";
    position: static;
    display: table;
    clear: both;
}
.image{
    border-radius: 8px;
    box-shadow: 10px 10px 5px #bab2b5;
    width: "200";
    height: auto;
    position: center;
}