body {
    background-color:#f4ded0
}
h1 {
    color:#6f916a;
    text-align: center;
    font-family: cursive;
    padding: 20px; 
    text-shadow: 2px 2px 5px gray;
}
h2 {
    color:#9aaf97;
    text-align: center;
    font-family: serif;
    text-shadow: 2px 2px 5px #6f916a
    ;
}
p {
    color:#6f916a;
    text-align: center;
    font-family: serif;
}
.column {
    float: left;
    width: 33%;
    box-shadow: 10px 10px 5px #f28b6f
    ;
    text-align: center;
    background-color: #edc4aa;
    margin: 2px;
}

.row:after {
    content: "";
    position: static;
    display: table;
    clear: both;
}
.image{
    border-radius: 8px;
    box-shadow: 10px 10px 5px #f28b6f;
    width: "200";
    height: auto;
    position: center;
    
}
